## DAC(DSA): Recap to Python - Part 1

### Introduction

In [ ]:
#if statements with format function
a = 5
b = 3

if b < a:
  print("{1} is lesser than {0}".format(a,b))

In [ ]:
#else statements with format function
a = 5
b = 3

if a < b:
  print("{1} is not lesser than {0}".format(a,b))
else:
  print("{1} is lesser than {0}".format(a,b))

In [ ]:
#elif statements with format function
a = 5
b = 3
c = 5

if a < c:
  print("{0} is lesser than {1}".format(a,c))
elif a > c:
  print("{0} is not lesser than {1}".format(a,c))
else:
  print("a and c are equal")

### Range

1. Use range to generate a list of the number

In [ ]:
# simple for loop
for i in range(5):
  print(i)

In [ ]:
#list
listr = list(range(10))
print(listr)

In [ ]:
#list with step
#Syntax: list(range(start, stop, step)), The sequence decreases by 1 at each step.
list_s = list(range(5,-5,-1))
print(list_s)

### Loops

1. Break statement
2. Continue statement
3. Pass statement

The purpose of learning break, pass and continue statements is so that you can handle instances where you need to escape a loop fully when an external condition is triggered or when you want to bypass an action of the loop and begin the next iteration.

Mostly used to improve efficiency of the loop

In [ ]:
#while loop
#Break statement: When external condition is triggered, you can exit the loop

n = 1
while n <= 100: #loop will carry on as long as n is less than 100
  print(n)
  n = n + 1
  if n > 10:
    break
print("The while loop ends here")

In [ ]:
#Continue statement: When the external condition is triggered, you can skip over that part of the loop to complete the loop

num = 0
for num in range(6):
  if num == 4:
    continue
  print("Printed number: {0}".format(num))
print("Loop ends here")

In [ ]:
#Pass statement: When the external condition is triggered, you can handle the condition without the loop being impacted in any way

num == 0
for num in range(6):
  if num == 4:
    pass
  print("Printed number is: {0}".format(num))
print("Out of loop")

In [ ]:
#using len with index
list_a = ["hi","my","name","is","Jeff","Phone no:",12345678]
for i in range(len(list_a)):
  print(i)
  print(list_a[i])

In [ ]:
#Increasing value of the item in the list by 6
list_y = [1,2,3,4,5,6,7]
print(list_y)
for i in range(len(list_y)):
  list_y[i] = list_y[i] + 6
print(list_y)

## Dictionary 
### Question: Are dictionaries objects?

### Getting List of All Keys

In [ ]:
#Dictionary
Richard = {
    "first_name":"Richard",
    "last_name":"Anderson",
    "age": 45,
    "tattoos": True
}

print(Richard)

#keys function
keys = Richard.keys()
print(keys)

In [ ]:
#Getting list of all values using values function
values = Richard.values()
print(values)

In [ ]:
#all keys
all_keys = Richard.keys()
for key in all_keys:
  r = Richard.get(key)
  print("key = {0}, value = {1}".format(key,r))

In [ ]:
#Nested dictionary
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score":{
        "english":87,
        "math":90,
        "science":95,
        "mother tongue":55
    }
}
print(sch_rec)

#keys function
keys_nested = sch_rec.keys()
keys_score = sch_rec['score'].keys()
print(keys_nested)
print(keys_score)

In [ ]:
#Using Items function to get an overview
sch_rec2 = {
    '001':{"name":"Ryan", "grade": 12, "avg_score": 95},
    '002':{"name":"Jaslyn", "grade": 12, "avg_score": 90},
    '003':{"name":"Ronald", "grade": 10, "avg_score": 55},
    '004':{"name":"Chad", "grade": 9, "avg_score": 67},
    '005':{"name":"Joyce", "grade": 8, "avg_score": 82.5},
    '006':{"name":"Amanda", "grade": 11, "avg_score": 98}
}

#items function
sch_rec2.items()

### Presentation of the Information in the Dictionary

In [ ]:
#presenting info in dict with double loops
# e.g id = '001', and the corresponding info and so on. (Refer to the code on top to understand what sch_rec2.items() shows)
for id, info in sch_rec2.items():
  print("\nStudent ID:",id)
  for key in info:
    print(key + ":",info[key])

In [18]:
#For QOL(Quality of Life) purposes
Richard = {
    "first_name":"Richard",
    "last_name":"Anderson",
    "age": 45,
    "tattoos": True
}

In [ ]:
#Changing existing values in a dictionary
print(Richard.get("last_name"))
Richard["last_name"] = "Todd"
print(Richard.get("last_name"))

In [ ]:
#Changing existing values in a nested dictionary
print(sch_rec2['001'].get('name'))
sch_rec2['001']['name'] = "Ryan Tan"
print(sch_rec2['001'].get('name'))

### Adding a new key-value pair in a dictionary

#### For Regular Dictionary case

In [ ]:
#Before alteration
print("Before Alteration: ",Richard)

In [22]:
#Alteration
Richard['email'] = "richard148@gmail.com"

In [ ]:
#After alteration
print("After Alteration: ",Richard)

#### For Nested Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",sch_rec2)

In [ ]:
#Alteration
sch_rec2['001']['email']='rand001@gmail.com'
sch_rec2['002']['email']='rand002@gmail.com'
sch_rec2['003']['email']='rand003@gmail.com'
sch_rec2['004']['email']='rand004@gmail.com'
sch_rec2['005']['email']='rand005@gmail.com'
sch_rec2['006']['email']='rand006@gmail.com'

print("After alteration: ",sch_rec2)

### Deleting key-value pair in a dictionary

#### For Regular Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",Richard)

In [27]:
#Alteration
del Richard['email']

In [ ]:
#After alteration
print("After alteration: ", Richard)

#### For Nested Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",sch_rec2)

In [30]:
#Alteration
del sch_rec2['001']['email']
del sch_rec2['002']['email']
del sch_rec2['003']['email']
del sch_rec2['004']['email']
del sch_rec2['005']['email']
del sch_rec2['006']['email']

In [ ]:
#After alteration
print("After alteration: ",sch_rec2)

## Functions

1. A group of related statements that perfrom a specific task
2. Helps break down the program into smaller modules rather than a lengthy set of codes which can be unorganised

In [32]:
#define function
def addition(num1,num2):
  total = num1 + num2
  return total

In [ ]:
#apply function
addition(5,7)

In [34]:
#define
def is_palindrome(word):
    word = word.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    return word == word[::-1]  #to check if the word is the same when reversed.
    # Slicing to reverse string, start at the end of the string and end at position 0, moving with the step -1," effectively reversing the string 
    #list[<start>:<stop>:<step>]

In [ ]:
#apply
is_palindrome("taco cat")

In [ ]:
#define
import random

def magic_8_ball():
    responses = [
        "Yes",
        "No",
        "It is certain",
        "Without a doubt",
        "Reply hazy, try again",
        "Don't count on it",
        "My sources say no",
        "Outlook not so good",
        "Very doubtful",
        "You may rely on it",
    ]

    return random.choice(responses)

# Example usage:
question = "Is it worthwhile to join DAC?"
answer = magic_8_ball()
print(f"Question: {question}")
print(f"Magic 8-Ball says: {answer}")