## Python Synthax

### Introduction

In [ ]:
#if statements with format function
a = 5
b = 3

if b < a:
  print("{1} is lesser than {0}".format(a,b))

3 is lesser than 5

In [ ]:
#else statements with format function
a = 5
b = 3

if a < b:
  print("{1} is not lesser than {0}".format(a,b))
else:
  print("{1} is lesser than {0}".format(a,b))

3 is lesser than 5

In [ ]:
#elif statements with format function
a = 5
b = 3
c = 5

if a < c:
  print("{1} is lesser than {0}".format(a,c))
elif a > c:
  print("{1} is not lesser than {0}".format(a,c))
else:
  print("a and c are equal")

a and c are equal

### Range

1. Use range to generate a list of the number

In [ ]:
# simple for loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#list
listr = list(range(10))
print(listr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#list with step
list_s = list(range(5,-5,-1))
print(list_s)

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

### Loops

1. Break statement
2. Continue statement
3. Pass statement

The purpose of learning break, pass and continue statements is so that you can handle instances where you need to escape a loop fully when an external condition is triggered or when you want to bypass an action of the loop and begin the next iteration

Mostly used to improve efficiency of the loop

In [ ]:
#while loop
#Break statement: When external condition is triggered, you can exit the loop

n = 1
while n <= 100: #loop will carry on as long as n is less than 100
  print(n)
  n = n + 1
  if n > 10:
    break
print("The while loop ends here")

1
2
3
4
5
6
7
8
9
10
The while loop ends here

In [ ]:
#Continue statement: When the external condition is triggered, you can skip over that part of the loop to complete the loop

num = 0
for num in range(6):
  if num == 4:
    continue
  print("Printed number: {0}".format(num))
print("Loop ends here")

Printed number: 0
Printed number: 1
Printed number: 2
Printed number: 3
Printed number: 5
Loop ends here

In [ ]:
#Pass statement: When the external condition is triggered, you can handle the condition without the loop being impacted in any way

num == 0
for num in range(6):
  if num == 4:
    pass
  print("Printed number is: {0}".format(num))
print("Out of loop")

Printed number is: 0
Printed number is: 1
Printed number is: 2
Printed number is: 3
Printed number is: 4
Printed number is: 5
Out of loop

In [ ]:
#using len with index
list_a = ["hi","my","name","is","Jeff","Phone no:",12345678]
for i in range(len(list_a)):
  print(i)
  print(list_a[i])

0
hi
1
my
2
name
3
is
4
Jeff
5
Phone no:
6
12345678

In [ ]:
#Increasing value of the item in the list by 6
list_y = [1,2,3,4,5,6,7]
print(list_y)
for i in range(len(list_y)):
  list_y[i] = list_y[i] + 6
print(list_y)

[1, 2, 3, 4, 5, 6, 7]
[7, 8, 9, 10, 11, 12, 13]

##Continuing from Dictionary

### Getting List of All Keys

In [ ]:
#Dictionary
Richard = {
    "first_name":"Richard",
    "last_name":"Anderson",
    "age": 45,
    "tattoos": True
}

print(Richard)

#keys function
keys = Richard.keys()
print(keys)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}
dict_keys(['first_name', 'last_name', 'age', 'tattoos'])

In [ ]:
#Getting list of all values using values function
values = Richard.values()
print(values)

dict_values(['Richard', 'Anderson', 45, True])

In [ ]:
#all keys
all_keys = Richard.keys()
for key in all_keys:
  r = Richard.get(key)
  print("key = {0}, value = {1}".format(key,r))

key = first_name, value = Richard
key = last_name, value = Anderson
key = age, value = 45
key = tattoos, value = True

In [ ]:
#Nested dictionary
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score":{
        "english":87,
        "math":90,
        "science":95,
        "mother tongue":55
    }
}
print(sch_rec)

#keys function
keys_nested = sch_rec.keys()
keys_score = sch_rec['score'].keys()
print(keys_nested)
print(keys_score)

{'name': 'Ryan', 'grade': 12, 'score': {'english': 87, 'math': 90, 'science': 95, 'mother tongue': 55}}
dict_keys(['name', 'grade', 'score'])
dict_keys(['english', 'math', 'science', 'mother tongue'])

In [ ]:
#Using Items function to get an overview
sch_rec2 = {
    '001':{"name":"Ryan", "grade": 12, "avg_score": 95},
    '002':{"name":"Jaslyn", "grade": 12, "avg_score": 90},
    '003':{"name":"Ronald", "grade": 10, "avg_score": 55},
    '004':{"name":"Chad", "grade": 9, "avg_score": 67},
    '005':{"name":"Joyce", "grade": 8, "avg_score": 82.5},
    '006':{"name":"Amanda", "grade": 11, "avg_score": 98}
}

#items function
sch_rec2.items()

dict_items([('001', {'name': 'Ryan', 'grade': 12, 'avg_score': 95}), ('002', {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}), ('003', {'name': 'Ronald', 'grade': 10, 'avg_score': 55}), ('004', {'name': 'Chad', 'grade': 9, 'avg_score': 67}), ('005', {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}), ('006', {'name': 'Amanda', 'grade': 11, 'avg_score': 98})])

### Presentation of the Information in the Dictionary

In [ ]:
#presenting info in dict with double loops
# e.g id = '001', and the corresponding info and so on. (Refer to the code on top to understand what sch_rec2.items() shows)
for id, info in sch_rec2.items():
  print("\nStudent ID:",id)
  for key in info:
    print(key + ":",info[key])

Student ID: 001
name: Ryan
grade: 12
avg_score: 95

Student ID: 002
name: Jaslyn
grade: 12
avg_score: 90

Student ID: 003
name: Ronald
grade: 10
avg_score: 55

Student ID: 004
name: Chad
grade: 9
avg_score: 67

Student ID: 005
name: Joyce
grade: 8
avg_score: 82.5

Student ID: 006
name: Amanda
grade: 11
avg_score: 98

In [ ]:
#For QOL purposes
Richard = {
    "first_name":"Richard",
    "last_name":"Anderson",
    "age": 45,
    "tattoos": True
}

In [ ]:
#Changing existing values in a dictionary
print(Richard.get("last_name"))
Richard["last_name"] = "Todd"
print(Richard.get("last_name"))

Anderson
Todd

In [ ]:
#Changing existing values in a nested dictionary
print(sch_rec2['001'].get('name'))
sch_rec2['001']['name'] = "Ryan Tan"
print(sch_rec2['001'].get('name'))

Ryan
Ryan Tan

### Adding a new key-value pair in a dictionary

#### For Regular Dictionary case

In [ ]:
#Before alteration
print("Before Alteration: ",Richard)

Before Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True}

In [ ]:
#Alteration
Richard['email'] = "richard148@gmail.com"

In [ ]:
#After alteration
print("After Alteration: ",Richard)

After Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True, 'email': 'richard148@gmail.com'}

#### For Nested Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",sch_rec2)

Before alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98}}

In [ ]:
#Alteration
sch_rec2['001']['email']='rand001@gmail.com'
sch_rec2['002']['email']='rand002@gmail.com'
sch_rec2['003']['email']='rand003@gmail.com'
sch_rec2['004']['email']='rand004@gmail.com'
sch_rec2['005']['email']='rand005@gmail.com'
sch_rec2['006']['email']='rand006@gmail.com'

print("After alteration: ",sch_rec2)

After alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95, 'email': 'rand001@gmail.com'}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90, 'email': 'rand002@gmail.com'}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55, 'email': 'rand003@gmail.com'}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67, 'email': 'rand004@gmail.com'}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5, 'email': 'rand005@gmail.com'}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98, 'email': 'rand006@gmail.com'}}

### Deleting key-value pair in a dictionary

#### For Regular Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",Richard)

Before alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True, 'email': 'richard148@gmail.com'}

In [ ]:
#Alteration
del Richard['email']

In [ ]:
#After alteration
print("After alteration: ", Richard)

After alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True}

#### For Nested Dictionary case

In [ ]:
#Before alteration
print("Before alteration: ",sch_rec2)

Before alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95, 'email': 'rand001@gmail.com'}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90, 'email': 'rand002@gmail.com'}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55, 'email': 'rand003@gmail.com'}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67, 'email': 'rand004@gmail.com'}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5, 'email': 'rand005@gmail.com'}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98, 'email': 'rand006@gmail.com'}}

In [ ]:
#Alteration
del sch_rec2['001']['email']
del sch_rec2['002']['email']
del sch_rec2['003']['email']
del sch_rec2['004']['email']
del sch_rec2['005']['email']
del sch_rec2['006']['email']

In [ ]:
#After alteration
print("After alteration: ",sch_rec2)

After alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98}}

## Functions

1. A group of related statements that perfrom a specific task
2. Helps break down the program into smaller modules rather than a lengthy set of codes which can be unorganised

In [ ]:
#define function
def addition(num1,num2):
  total = num1 + num2
  return total

In [ ]:
#apply function
addition(5,7)

12

In [ ]:
#define
def is_palindrome(word):
    word = word.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    return word == word[::-1]  # Check if the word is the same when reversed

In [ ]:
#apply
is_palindrome("taco cat")

True

In [ ]:
#define
import random

def magic_8_ball():
    responses = [
        "Yes",
        "No",
        "It is certain",
        "Without a doubt",
        "Reply hazy, try again",
        "Don't count on it",
        "My sources say no",
        "Outlook not so good",
        "Very doubtful",
        "You may rely on it",
    ]

    return random.choice(responses)

# Example usage:
question = "Is it worthwhile to join DAC?"
answer = magic_8_ball()
print(f"Question: {question}")
print(f"Magic 8-Ball says: {answer}")

Question: Is it worthwhile to join DAC?
Magic 8-Ball says: It is certain