## Data Visualisation with Python

In [1]:
# Import the necessary libraries

## Step Process
1. Load Data
2. Inspect Data
3. Clean Data (if needed)
4. Explore + Visualise Data
5. Derive insights from Data Exploration/Visualisation

### Example 1: Forbes 2022 Data

#### 1. Load Data

#### 2. Inspect Data

In [ ]:
#If True, means duplicate

In [6]:
#if has null value
#forbes.dropna()

In [ ]:
#Check data type, see if the type makes sense

#### 3. Clean Data

In [8]:
#Dtype is object indicates a generic type that can represent any Python object, including string, numbers..
#for a dataframe in pandas, it usually represents string

#Replace the $ and B with empty string
#str.replace(oldvalue,newvalue,count)


#Change type to numeric

#### 4. Explore Data

In [ ]:
# Finding the industry with the highest number of billionaires
#value_counts() counts the frequency of unique values in specific columns of a dataframe

In [ ]:
# To display the top 5 industries with the most number of billionaires

In [ ]:
# show the number of billionaires in each industry with bar chart

In [ ]:
#Horizontal bar

In [ ]:
# Finding the country with the highest number of billionaires

In [ ]:
#display the top 3 countries with the most billionaries

In [ ]:
# Find the billionaires with networth more than 60 billion dollars
#To filter a dataframe base on a condition, we need to use dataframe[condition] where the condition is a boolean expression
#condition=forbes['networth']>=60,True-more than or equal 60, False-less than 60

# OR

In [19]:
#find the top 5 youngest billionaires

In [ ]:
# rearrange the dataframe by ascending or descending order of specific column
#parameter of sort_values: by-specify label to sort by, axis:0 or 1, ascending:True or False

In [ ]:
# Finding the top 5 youngest people who have networth of more than 50 billion


#Or

In [ ]:
#Using the method we used previously

# the higher the bin, the closer it is to the distribution plot which will be explained later
 #Notice the graphs are still similar to each other

##### Data Visualisation - Distribution Plot
- Shows how a variable in your data is distributed

# Distribution Plot

> parameter:
* data: dataframe name
* x,y,hue: variable name
* kind:{“hist”, “kde”, “ecdf”} hist by default, same as histplot(), kdeplot(), ecdfplot(univariate data only)
* color, palette, height...

1.   kernel density estimation:KDE represents the data using a continuous probability density curve, more smooth
2.    empirical cumulative distribution function: represents the proportion or counts of observations

In [ ]:
#Distribution plot of the age variable

Observation from dataset:
1. Most saturated industry/best industry (Finance & Investments)
2. Country with the most opportunity (US) - may be too saturated
3. Who to learn from (THose that really made it)
4. Probable age for someone to get really rich (50-70 years old)

### Example 2: Annual Sales 2018 Data

#### 1. Load Data

In [ ]:
#parameter of drop: label, axis: 1 for column, 0 for index, default 0
#Better to name it with another variable so that you can keep the original dataset under the variable 'data'

#### 2. Inspect Data

#### 3. Clean Data

In [ ]:
#Convert 'Order Date' column into datetime type

#### 4. Explore Data

In [ ]:
# series.dt can be used to access the values of the series as datetimelike and return several properties
#dt.year will return year, dt.weekday will return the day of week

In [ ]:
#Which month had the best sales?

In [ ]:
#creat a new column called Sale

In [ ]:
#here Month is index label not variable

###### ***HOW THE PREVIOUS CODE LOOK LIKE (STEP BY STEP)***

In [ ]:
#How it looks like, ingore the rest of the table except for Sales

In [ ]:
 #Rearranging the sales amount in ascending amount

In [ ]:
 #Get only the 'Sales' column

#### Data Visualisation

In [ ]:
#Data Visualisation

# what is def
  * def function name(argument):
  * statement
  * return expression

In [42]:
#example

In [ ]:
#Finding the orders where the production city is the same as the city in the purchase address


  #address patteern is street,city,postal code
  #split() split a string into a list of substrings, the parameter is separator




 #you can apply a function you defined earlier in the dataset, the parameter: func

In [ ]:
#Group data by cities

In [ ]:
#Which city makes the best sales across all 12 months

In [ ]:
#display information of gross sales in every city for 1st 3 months
#loc, accedd a group of rows based on positional index
# group_data.loc[3,:] means select a specific row based on 3 and all its columns
#why use []? In pandas, using [] to access elements form df, () for function calls

In [ ]:
# Can query individual cities (Example: Atlanta)

In [ ]:
#query each month sales for specific city

# create a line chart to show how the sale change in each city for 12 months?

In [ ]:
# Get a list of cities
 #so there will be no duplicate

In [ ]:

  #Get the city's 12 months of sales


  #Plot line plot for this city
  #parameter: only y is required